*{
    margin: 0;
    padding: 0;
}

.contant{
    height: 400px;
    margin: 20px;
    border: 5px solid #000;
    background: rgb(5, 238, 255);
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(4, 107, 122, 0.66);
    padding-left: 50px;
}
.item{
    margin: 15px 0;
}
.dc{
    font-size: 22px;
}
.img{
    height: 250px;
    margin-top: 20px;
    border-radius: inherit;
}